<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Αρχική</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://kendo.cdn.telerik.com/2016.1.112/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.1.112/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/messagebox/messagebox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mvcNotify.css")" rel="stylesheet" type="text/css" />

    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />

    <script src="https://kendo.cdn.telerik.com/2016.1.112/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.1.112/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.1.112/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.1.112/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.1.112/js/cultures/kendo.culture.el-GR.min.js"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/messagebox/messagebox.js")"></script>
    <script src="@Url.Content("~/Scripts/custom/jspCustom.js")"></script>
    <script src="@Url.Content("~/Scripts/mvcNotify.js")" type="text/javascript"></script>

    <script>
        kendo.culture("el-GR");
    </script>
    <!-- mvcNotify script -->
    <script type="text/javascript">
        //Set autoclear of messages. Don't put this into $(document).ready.
        //mvcNotify.autoClearTimeout = 0; //don't autoclear any types
        mvcNotify.autoClearTimeout = 8000; //Unit of milliseconds. Requires mvcNotify.typesToAutoClear to be set to something (default behavior).
    </script>

    <!-- Clock scripts -->
    <script src="@Url.Content("~/Clock/coolclock.js")"></script>
    <script src="@Url.Content("~/Clock/moreskins.js")"></script>
    <script src="@Url.Content("~/Clock/excanvas.js")"></script>

    <style>
        .nava:link {
            color: lightgray;
            background-color: transparent;
            text-decoration: none;
        }

        .nava:visited {
            color: whitesmoke;
            background-color: transparent;
            text-decoration: none;
        }

        .nava:hover {
            color: whitesmoke;
            background-color: transparent;
            text-decoration: none;
        }

        .nava:active {
            color: whitesmoke;
            background-color: transparent;
            text-decoration: none;
        }
        /* original padding 1.2em was too much */
        .k-menu .k-item>.k-link {
            display: block;
            padding-top: 0.6em;
            padding-right: 1.2em;
            padding-bottom: 0.6em;
            padding-left: 1.2em;
            line-height: 1.34em;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

</head>
<body class="k-content" style="background-color:whitesmoke">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="max-height:50px;">
        @Html.ActionLink("Pegasus+", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" style="margin-left:40px">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="nav-link">@Html.ActionLink("Αρχική", "Index", "Home", new { @class = "nava" })</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">@Html.ActionLink("Περιγραφή", "About", "Home", new { @class = "nava" })</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">@Html.ActionLink("Επικοινωνία", "Contact", "Home", new { @class = "nava" })</div>
                </li>
            </ul>
            <div class="nav navbar-text navbar-right" style="float:right;color:white;vertical-align:middle;font-size:14px">
                Χρήστης: @Html.Raw((string)ViewBag.loggedUser)
                <input type="button" class="btn btn-danger" style="font-size:12px" value="Αποσύνδεση" onclick="location.href='@Url.Action("Logout", "Home" )'" />
            </div>
        </div>
    </nav>

    <nav style="background-color: #4f81bd;max-height:62px;margin-bottom:10px">
        <div class="row">
            <div class="col-md-1">
                <img src="~/images/metro/pegasus.png" height="54" width="54">
            </div>
            <div class="col-md-10">
                <p class="header" style="margin-top:2px;font-size:38px;color:white; font-weight:bold">P e g a s u s +</p>
            </div>
            <span class="col-md-1" style="float:right;">
                <canvas style="float:right" id="clockid" class="CoolClock:swissRail:30:0"></canvas>
            </span>
        </div>
    </nav>

    <div id="responsive-panel" class="navbar navbar-dark bg-light">
        @(Html.Kendo().Menu()
            .Name("Menu")
            .HtmlAttributes(new { style = "width:100%" })
            .Items(items =>
            {
                items.Add().Text("Αιτήσεις").ImageUrl(Url.Content("~/Images/phone/appbar.cabinet.files.png"))
                .Items(children =>
                {
                    children.Add().Text("Έλεγχος αιτήσεων").ImageUrl(Url.Content("~/Images/phone/appbar.card1.png")).Action("AitiseisAudit", "School");
                    children.Add().Text("Μοριοδότηση αιτήσεων").ImageUrl(Url.Content("~/Images/phone/appbar.card3.png")).Action("AitiseisMoria", "School");
                    children.Add().Text("Πολλαπλές Αιτήσεις").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("MultipleAitiseisPrint", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                    children.Add().Text("Ενστάσεις (ανάρτηση)").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("EnstaseisDetailPost", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                    children.Add().Text("Ενστάσεις (αναλυτικά)").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("EnstaseisDetailPrint", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                    children.Add().Text("Ενστάσεις (συνοπτικά)").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("EnstaseisSummary", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                });
                items.Add().Text("Πίνακες ανάρτησης").ImageUrl(Url.Content("~/Images/phone/appbar.layer.thick.png")).LinkHtmlAttributes(new { title = "Πίνακες χωρίς ονόματα για ανάρτηση" })
                .Items(Children =>
                {
                    Children.Add().Text("Πίνακας 1A: ΙΔ.Πιστοπ. ΕΟΠΠΕΠ").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("xPinakas1a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 1B: ΔΥ.Πιστοπ. ΕΟΠΠΕΠ").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("xPinakas1b_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 2A: ΙΔ.Μη πιστοποιημένοι").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("xPinakas2a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 2B: ΔΥ.Μη πιστοποιημένοι").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("xPinakas2b_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 3: Άνεργοι").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("xPinakas3a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 4: Του Ν.2190").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("xPinakas4a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 5: Αποκλειόμενοι").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("xPinakas5a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                });
                items.Add().Text("Πίνακες χρήσης").ImageUrl(Url.Content("~/Images/phone/appbar.list.reorder.down.png")).LinkHtmlAttributes(new { title = "Πίνακες με ονόματα για εσωτερική χρήση" })
                .Items(Children =>
                {
                    Children.Add().Text("Πίνακας 1A: ΙΔ.Πιστοπ. ΕΟΠΠΕΠ").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("uPinakas1a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 1B: ΔΥ.Πιστοπ. ΕΟΠΠΕΠ").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("uPinakas1b_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 2A: ΙΔ.Μη πιστοποιημένοι").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("uPinakas2a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 2B: ΔΥ.Μη πιστοποιημένοι").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("uPinakas2b_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 3: Άνεργοι").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("uPinakas3a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 4: Του Ν.2190").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("uPinakas4a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Πίνακας 5: Αποκλειόμενοι").ImageUrl(Url.Content("~/Images/phone/appbar.list.check.png"))
                        .Action("uPinakas5a_Print", "School").LinkHtmlAttributes(new { target = "_blank" });
                });
                items.Add().Text("Μητρώα").ImageUrl(Url.Content("~/Images/phone/appbar.people.multiple.magnify.png"))
                .Items(Children =>
                {
                    Children.Add().Text("Εκπαιδευτές ανά ειδικότητα").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("TeachersEidikotitaPrint", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Συνολικό μητρώο εκπαιδευτών").ImageUrl(Url.Content("~/Images/phone/appbar.control.guide.png")).Action("TeachersRegistry", "School");
                    Children.Add().Text("Εκπαιδευτές με αιτήσεις").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("TeacherDataPrint", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Separator(true);
                    Children.Add().Text("Μητρώο αιτήσεων - Προβολή").ImageUrl(Url.Content("~/Images/phone/appbar.control.guide.png")).Action("AitiseisRegistry", "School");
                    Children.Add().Text("Μητρώο αιτήσεων - Εκτύπωση").ImageUrl(Url.Content("~/Images/phone/appbar.printer.text.png")).Action("AitiseisRegistryPrint", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                });
                items.Add().Text("Στατιστικά").ImageUrl(Url.Content("~/Images/phone/appbar.greek.sigma.lowercase.png"))
                .Items(Children =>
                {
                    Children.Add().Text("Κατανομή ανά φύλο").ImageUrl(Url.Content("~/Images/phone/appbar.graph.bar.png")).Action("statGendersPrint", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Κατανομή ανεργίας").ImageUrl(Url.Content("~/Images/phone/appbar.graph.bar.png")).Action("statAnergiaPrint", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Κατανομή πιστοποιημένων").ImageUrl(Url.Content("~/Images/phone/appbar.graph.bar.png")).Action("statCertifiedPrint", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                    Children.Add().Text("Κατανομή κοινωνική ομάδα").ImageUrl(Url.Content("~/Images/phone/appbar.graph.bar.png")).Action("statSocialGroupsPrint", "School")
                        .LinkHtmlAttributes(new { target = "_blank" });
                });
                items.Add().Text("Προκηρύξεις").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.year.png"))
                .Items(Children =>
                {
                    Children.Add().Text("Στοιχεία προκηρύξεων").ImageUrl(Url.Content("~/Images/phone/appbar.page.corner.folded.text.png")).Action("ProkirixisList", "Settings");
                    Children.Add().Text("Προκηρυσσόμενες Ειδικότητες").ImageUrl(Url.Content("~/Images/phone/appbar.book.open.information.png")).Action("EidikotitesProkirixis", "Settings");
                });
                items.Add().Text("Ρυθμίσεις").ImageUrl(Url.Content("~/Images/phone/appbar.tools.png"))
                .Items(Children =>
                {
                    Children.Add().Text("Σχολικά Έτη").ImageUrl(Url.Content("~/Images/phone/appbar.calendar.range.png")).Action("SchoolYearsList", "Settings");
                    Children.Add().Text("Αιτίες Αποκλεισμού").ImageUrl(Url.Content("~/Images/phone/appbar.app.minus.png")).Action("ApokleismoiList", "Settings");
                    Children.Add().Text("Αφορολόγητo Εισόδημα").ImageUrl(Url.Content("~/Images/phone/appbar.currency.euro.png")).Action("TaxfreeList", "Settings");
                    Children.Add().Text("Περιφέρειες και Νομοί").ImageUrl(Url.Content("~/Images/phone/appbar.globe.wire.png")).Action("PeriferiesNomoi", "Settings");
                    Children.Add().Separator(true);
                    Children.Add().Text("Κλάδοι-Ειδικότητες").ImageUrl(Url.Content("~/Images/phone/appbar.book.png")).Action("EidikotitesList", "Settings");
                    Children.Add().Text("Κλάδοι ενοποίησης").ImageUrl(Url.Content("~/Images/phone/appbar.book.png")).Action("KladosUnifiedList", "Settings");
                    Children.Add().Text("Ομάδες Ειδικοτήτων").ImageUrl(Url.Content("~/Images/phone/appbar.book.side.png")).Action("EidikotitesGroupsList", "Settings");
                });
            })
        )
    </div>

    <main>
        <div class="container-fluid">
            @Html.Partial("_Notifications")
            @RenderBody()
            @RenderSection("footer", required: false)
        </div>
    </main>

    <script>
        $(document).ready(function () {
            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>
</body>
</html>
