@model PegasusPlus.Models.TeacherViewModel

@{
    ViewBag.Title = "Νέα στοιχεία εκπαιδευτή";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<style>
    .control-label {
        font-family: 'Segoe UI';
        white-space: pre-line;
    }

    .page-header {
        border-bottom: 1px solid #898989;
        font-family: 'Segoe UI';
        font-size: x-large;
    }

    .k-textbox {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

        .k-textbox:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
</style>


@using (Html.BeginForm("TeacherCreate", "Teachers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="page-header">
        <div style="margin:5px 60px 5px 40px">
            <span style="font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #696969">
                <font style="color:#292929;">Ενότητα προσωπικών στοιχείων εκπαιδευτικού</font>
            </span>
            <span style="margin:0px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:16px">
                @Html.ActionLink("Επιστροφή", "Index", null, new { @class = "btn btn-warning", style = "font-size:16px" })
            </span>
            <span style="margin:0px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:16px">
                @Html.ActionLink("Εκτύπωση", "TeacherPrint", "Teachers", new { AFM = Model.AFM }, new { @class = "btn btn-primary", style = "font-size:16px", target = "_blank" })
            </span>
            <span style="margin:0px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:16px">
                <input id="buttonClientSide" style="font-family:'Segoe UI';font-size:16px" type="submit" value="Αποθήκευση" class="btn btn-success" />
            </span>
        </div>
    </div>

    <div class="body-content mt-3" style="margin-left:60px;margin-right:60px">
        @(Html.Kendo().PanelBar()
        .Name("IntroPanelBar")
        .Items(items =>
        {
        items.Add()
            .Text("ΕΝΟΤΗΤΑ 1 - ΠΡΟΣΩΠΙΚΑ ΣΤΟΙΧΕΙΑ ")
            .Selected(true)
            .Expanded(true)
            .Content(
                @<text>
                    <table class="col-md-12 container ml-4 mr-4 mb-2">
                        <tr>
                            <td>
                                <div class="col-md-12 mt-2">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.FirstName, new { @class = "col-form-label col-md-6" })
                                        @Html.EditorFor(model => model.FirstName, new { @class = "form-control col-md-6" })
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.LastName, new { @class = "col-form-label col-md-6" })
                                        @Html.EditorFor(model => model.LastName, new { @class = "form-control col-md-6" })
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12 mt-2">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.FatherName, new { @class = "col-form-label col-md-6" })
                                        @Html.EditorFor(model => model.FatherName, new { @class = "form-control col-md-6" })
                                        @Html.ValidationMessageFor(model => model.FatherName)
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.MotherName, new { @class = "col-form-label col-md-6" })
                                        @Html.EditorFor(model => model.MotherName, new { @class = "form-control col-md-6" })
                                        @Html.ValidationMessageFor(model => model.MotherName)
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group col-md-6 ml-2">
                                    @Html.LabelFor(model => model.Gender, new { @class = "col-form-label col-md-6" })
                                    @(Html.Kendo().ComboBoxFor(model => model.Gender)
                                    .Name("Gender")
                                    .DataTextField("GenderText")
                                    .DataValueField("GenderID")
                                    .HtmlAttributes(new { style = "width:300px;margin-left:4px" })
                                    .Placeholder("Επιλέξτε...")
                                    .AutoBind(true)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetGenders", "Teachers");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    )
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-6 ml-2">
                                    @Html.LabelFor(model => model.FamilyStatus, new { @class = "col-form-label col-md-6" })
                                    @(Html.Kendo().ComboBoxFor(model => model.Gender)
                                    .Name("FamilyStatus")
                                    .DataTextField("FamilyStatusText")
                                    .DataValueField("FamilyStatusID")
                                    .HtmlAttributes(new { style = "width:300px;margin-left:4px" })
                                    .Placeholder("Επιλέξτε...")
                                    .AutoBind(true)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetFamilyStatus", "Teachers");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    )
                                    @Html.ValidationMessageFor(model => model.FamilyStatus, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group col-md-6 ml-2">
                                    @Html.LabelFor(model => model.Children, new { @class = "col-form-label col-md-6" })
                                    @(Html.Kendo().NumericTextBox<int>()
                                        .Name("Children")
                                        .Format("#0")
                                        .Min(0)
                                        .Max(20)
                                        .Step(1)
                                        .Value(0)
                                        .HtmlAttributes(new { style = "width: 200px" })
                                    )
                                    @Html.ValidationMessageFor(model => model.Children, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-6 ml-2">
                                    @Html.LabelFor(model => model.Birthdate, new { @class = "col-form-label col-md-6" })
                                    @Html.Kendo().DatePickerFor(model => model.Birthdate).HtmlAttributes(new { @class="col-md-6", type = "text", style = "background-color:white" })
                                    @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group col-md-6 ml-2">
                                    @Html.LabelFor(model => model.Nomos, new { @class = "col-form-label col-md-6" })
                                    @(Html.Kendo().ComboBoxFor(model => model.Nomos)
                                    .Name("Nomos")
                                    .DataTextField("NomosText")
                                    .DataValueField("NomosID")
                                    .HtmlAttributes(new { style = "width:300px;margin-left:4px" })
                                    .Placeholder("Επιλέξτε...")
                                    .AutoBind(true)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetNomoi", "Teachers");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    )
                                    @Html.ValidationMessageFor(model => model.Nomos, "", new { @class = "text-danger" })
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.City, new { @class = "col-form-label col-md-6" })
                                    @Html.EditorFor(model => model.City, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(model => model.City)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.PostCode, new { @class = "col-form-label col-md-8" })
                                    @Html.EditorFor(model => model.PostCode, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(model => model.PostCode)
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Address, new { @class = "col-form-label col-md-6" })
                                    @Html.EditorFor(model => model.Address, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Telephone, new { @class = "col-form-label col-md-8" })
                                    @Html.EditorFor(model => model.Telephone, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(model => model.Telephone)
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CellPhone, new { @class = "col-form-label col-md-6" })
                                    @Html.EditorFor(model => model.CellPhone, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(model => model.CellPhone)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Email, new { @class = "col-form-label col-md-6" })
                                    @Html.EditorFor(model => model.Email, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </td>
                        </tr>
                    </table>
                </text>);
            items.Add()
                .Text("ΕΝΟΤΗΤΑ 2 - ΟΙΚΟΝΟΜΙΚΑ ΣΤΟΙΧΕΙΑ")
                .Content(
                @<text>
                    <h5 class="ml-4">Θέση φόρμας εδώ</h5>
                </text>);
            items.Add()
                .Text("ΕΝΟΤΗΤΑ 3 - ΚΟΙΝΩΝΙΚΑ ΣΤΟΙΧΕΙΑ")
                .Content(
                @<text>
                    <h5 class="ml-4">Θέση φόρμας εδώ</h5>
                </text>);
        })
        )
    </div>
}


