@using PegasusPlus.DAL
@using PegasusPlus.Models

@{
    ViewBag.Title = "Προκηρυσσόμενες Ειδικότητες";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    string schoolYear = ViewData["schoolYearText"].ToString();
    string protocol = ViewData["prokirixiProtocol"].ToString();
    string displayInfo = schoolYear + ": " + protocol;
}

<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #696969">
        <font style="color:#292929;float:left;font-family:'Segoe UI'">Προκηρυσσόμενες ειδικότητες</font>
    </span>
    <span style="margin:0px 5px 0px 5px;float:right;font-family:'Segoe UI';">@Html.ActionLink("Επιστροφή", "Index", "Admin", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <span style="margin:0px 5px 0px 5px;float:right;font-family:'Segoe UI';">@Html.ActionLink("Εκτύπωση", "EidikotitesProkirixiPrint", "Tools", null, new { @class = "btn btn-primary", style = "font-size:14px", target = "_blank" })</span>
    <button class="btn btn-info" style="margin:5px 5px 0px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content mt-3" style="margin:5px 30px 5px 30px;background-color:#797979;padding:4px 4px 4px 4px;min-height:40px">
    <label style="font-size:14px;font-weight:bold;color:white">Προκήρυξη για επεξεργασία: </label>
    @(Html.Kendo().DropDownList()
        .Name("ddlProkirixi1")
        .DataTextField("Protocol")
        .DataValueField("ProkirixiID")
        .HtmlAttributes(new { style = "width:200px;font-size:14px;font-weight:bold;margin-top:2px" })
        .OptionLabel("Επιλογή...")
        .AutoBind(true)
        .Enable(true)
        .DataSource(source => { source.Read(read => { read.Action("GetProkirixeis", "Tools"); }); })
        .Events(e =>
        {
            e.Select("ddl1select");
        })
    )
    <label style="font-size:14px;font-weight:bold;color:white;margin-left:10px">Σχολική μονάδα: </label>
    @(Html.Kendo().DropDownList()
        .Name("ddlSchool")
        .DataTextField("SchoolName")
        .DataValueField("SchoolID")
        .HtmlAttributes(new { style = "width:240px;font-size:14px;font-weight:bold;margin-top:2px" })
        .OptionLabel("Επιλογή...")
        .AutoBind(true)
        .Enable(true)
        .DataSource(source => { source.Read(read => { read.Action("GetSchoolsIek", "Tools"); }); })
        .Events(e =>
        {
            e.Select("ddl2select");
        })
    )
</div>

<div class="body-content" style="margin:5px 30px 5px 30px">
    @(Html.Kendo().Grid<ProkirixisEidikotitesViewModel>()
        .Name("Child")
        .AutoBind(false)
        .Columns(columns =>
        {
            columns.ForeignKey(f => f.EidikotitaID, (IEnumerable<sqlEidikotitesSelector>)ViewData["Eidikotites"], "EidikotitaID", "EidikotitaDesc").Width(120);
            columns.Command(command => command.Destroy()).Width(20);
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create();
            toolBar.Save();
        })
        .HtmlAttributes(new { style = "font-size:14px" })
        .Filterable()
        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Top))
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(360))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(datasource => datasource
            .Ajax()
            .Batch(true)
            .PageSize(60)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(p => p.PSE_ID);
                model.Field(p => p.EidikotitaID).DefaultValue(ViewData["defaultEidikotita"]);
            })
            .Create(create => create.Action("EidikotitesProkirixiCreate", "Tools").Data("data"))
            .Read(read => read.Action("EidikotitesProkirixiRead", "Tools").Data("data"))
            .Update(update => update.Action("EidikotitesProkirixiUpdate", "Tools").Data("data"))
            .Destroy(destroy => destroy.Action("EidikotitesProkirixiDestroy", "Tools"))
            .Events(events => events.Error("error_handler"))
        )
    )
</div>

<div class="page-header" style="margin:5px 30px 5px 30px;background-color:#797979;padding:4px 4px 4px 4px;min-height:44px">
    <label style="font-size:14px;font-weight:bold;color:white">Προκήρυξη για μεταφορά: </label>
    @(Html.Kendo().DropDownList()
        .Name("ddlProkirixi")
        .DataTextField("Protocol")
        .DataValueField("ProkirixiID")
        .HtmlAttributes(new { style = "width:200px;font-size:14px;font-weight:bold;margin-top:2px" })
        .OptionLabel("Επιλογή...")
        .AutoBind(true)
        .Enable(true)
        .DataSource(source => { source.Read(read => { read.Action("GetProkirixeis", "Tools"); }); })
    )
    <font style="color:white;margin-left:12px;font-family:'Segoe UI';font-size:14px">
        @Html.Label("", "Ενεργή προκήρυξη >" + displayInfo, new { @style = "font-family:'Segoe UI';font-style:normal;font-size:14px" })
    </font>
    <button class="btn btn-default" style="margin:0px 5px 0px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="TransferEidikotites()" title="Μεταφορά των ειδικοτήτων από προηγούμενη προκήρυξη στην ενεργή">
        Μεταφορά
    </button>
    <div id="divLoading" style="margin:0px 10px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px; z-index: 30001;display:none">
        <p id="message-icon" style="margin-right:5px; font-size:13px;color:yellow;font-weight:bold">
            Σε εξέλιξη...
            <img id="ajax-icon" src="~/Images/other/progress4.gif" style="margin-left:5px;width:36px;height:36px">
        </p>
    </div>
</div>

<script>

    function RefreshGrid(e) {
        var grid = $("#Child").data("kendoGrid");
        grid.dataSource.read();
    }

    function TransferEidikotites() {
        var prokirixiID = $("#ddlProkirixi").data("kendoDropDownList").value();
        if (prokirixiID) {
            $('#divLoading').show();
            $.ajax({
                url: '@Url.Action("CopyEidikotitesFromProkirixi", "Tools")?sourceProkirixiID=' + prokirixiID,
                type: 'GET',
                data: "",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#divLoading').hide();
                    if (data != "") MessageBoxAlert(data);
                    $("#Child").data("kendoGrid").dataSource.read();
                },
                error: function () {
                    $('#divLoading').hide();
                    MessageBoxAlert("Προέκυψε σφάλμα. Δοκιμάστε πάλι αργότερα.");
                }
            });
        }
        else {
            MessageBoxAlert("Πρέπει να επιλέξετε μια προκήρυξη προέλευσης πρώτα.");
        }
    };

    // Prokirixi selection
    function ddl1select(e) {
        //var dataItem = this.dataItem(e.item.index());
        var dataItem = this.dataItem(e.item);
        var schoolID = $("#ddlSchool").data("kendoDropDownList").value();

        if (dataItem && schoolID) {
            var prokirixiEditID = dataItem.ProkirixiID;
            $("#Child").data("kendoGrid").dataSource.read({ prokirixiId: prokirixiEditID, schoolId: schoolID });
        }
        else {
            $("#Child").data("kendoGrid").dataSource.read({ prokirixiId: 0, schoolId: 0 });
        }
    };

    // School selection
    function ddl2select(e) {
        //var dataItem = this.dataItem(e.item.index());
        var dataItem = this.dataItem(e.item);
        var prokirixiEditID = $("#ddlProkirixi1").data("kendoDropDownList").value();

        if (dataItem && prokirixiEditID) {
            var school = dataItem.SchoolID;
            $("#Child").data("kendoGrid").dataSource.read({ prokirixiId: prokirixiEditID, schoolId: school });
        }
        else {
            $("#Child").data("kendoGrid").dataSource.read({ prokirixiId: 0, schoolId: 0 });
        }
    };

    function data() {
        var prokirixiEditID = $("#ddlProkirixi1").data("kendoDropDownList").value();
        var schoolID = $("#ddlSchool").data("kendoDropDownList").value();

        if (prokirixiEditID && schoolID) {
            return {
                prokirixiId: prokirixiEditID,
                schoolId: schoolID
            };
        }
        else return {
            prokirixiId: 0,
            schoolId: 0
        };
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
            $("#Child").data("kendoGrid").dataSource.read();
        }
    }

</script>
