@model PegasusPlus.Models.UserAdminViewModel

@{
    ViewBag.Title = "Είσοδος διαχειριστή";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .col-form-label {
            font-weight: 600;
            text-align: left;
        }

        .k-textbox {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

        .k-textbox:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
    </style>
</head>
<body>
    <p style="padding:20px 10px 20px 10px"></p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset>
                <legend style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Είσοδος διαχειριστή</legend>

                <table class="col-md-8" style="border:solid;border-width:thin;margin:10px 0px 10px 0px">
                    <tr>
                        <th style="background-color:#4f81bd;padding-left:20px" >
                            <p></p>
                            <img src="~/Images/metro/user-login-white.png" width="60" height="60" style="margin:0px 20px 0px 10px" />
                            <font style="font-family:'Segoe UI';font-size:xx-large;color:white;">Είσοδος</font>
                            <p></p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                            <div class="form-row mt-4 ml-4">
                                @Html.LabelFor(model => model.Username, new { @class = "col-form-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Username)
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                            <div class="form-row mt-3 ml-4">
                                @Html.LabelFor(model => model.Password, new { @class = "col-form-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Password)
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <p></p>
                        </td>
                    </tr>
                </table>
                              
                <div class="form-group">
                    <div style="float:left;" class="col-md-12">
                        <input style="font-family:'Segoe UI';font-size:large" type="submit" value="Είσοδος" class="btn btn-primary" />
                        <span style="margin:0px 5px 5px 5px;font-family:'Segoe UI';font-size:18px">
                            @Html.ActionLink("Αρχική", "Index", "Home", null,
                                new { @class = "btn btn-info", style = "font-size:18px" })
                        </span>
                    </div>
                </div>

            </fieldset>
        </div>
    }
</body>
</html>
